body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif; }

.main_section {
  padding: 39px calc(50% - 450px); }

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 15px 26px; }
  .header__top_logo {
    width: 30px;
    height: 30px; }
  .header__top_nav {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 65%;
    padding: 0; }
    .header__top_nav_list {
      margin-top: 4px;
      margin-right: 8%;
      list-style-type: none;
      display: block;
      white-space: nowrap; }
      .header__top_nav_list_link {
        text-decoration: none;
        font-family: Avenir;
        font-size: 16px;
        line-height: 19px;
        color: #3D4E61; }
.header__image {
  height: 464px;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover; }

.section > .left-block {
  margin-top: -330px;
  margin-bottom: 75px; }
.section__apartament {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px; }
  .section__apartament_title {
    font-family: Avenir;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #3D4E61;
    margin-top: 0;
    margin-bottom: 10px; }
  .section__apartament_under-title {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #687C94;
    margin-bottom: 30px; }
  .section__apartament_info {
    font-size: 16px;
    line-height: 19px;
    color: #3D4E61;
    margin-bottom: 35px; }
    .section__apartament_info_1, .section__apartament_info_2 {
      margin-right: 4%; }
  .section__apartament_about {
    width: 495px;
    font-size: 16px;
    line-height: 24px;
    color: #3D4E61;
    margin-bottom: 44px; }
    .section__apartament_about_contact-host {
      display: inline-block;
      font-size: 16px;
      line-height: 19px;
      color: #3D4E61;
      margin-bottom: 44px; }
  .section__apartament_amenities_title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 23px;
    color: #3D4E61; }
  .section__apartament_amenities_box {
    display: flex; }
    .section__apartament_amenities_box-1 {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 19px;
      color: #3D4E61;
      margin-right: 20%;
      margin-bottom: 20px; }
      .section__apartament_amenities_box-1_elevator {
        display: inline-block;
        margin-bottom: 20px; }
    .section__apartament_amenities_box-2 {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 19px;
      color: #3D4E61; }
      .section__apartament_amenities_box-2_hair {
        display: inline-block;
        margin-bottom: 20px; }
  .section__apartament_show {
    font-size: 16px;
    line-height: 19px;
    color: #3D4E61; }
.section_booking {
  position: sticky;
  top: 0;
  height: 330px;
  width: 319px;
  border: 1px solid #E1E7ED;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 60%; }
  .section_booking_price {
    margin-bottom: 35px; }
  .section_booking > label {
    width: 100%;
    margin-bottom: 16px; }
    .section_booking > label > input {
      width: 100%;
      height: 50px;
      border: 1px solid #E1E7ED;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 14px 0 14px 17px; }
      .section_booking > label > input::placeholder {
        font-size: 16px;
        line-height: 19px;
        color: #3D4E61; }
  .section_booking_button {
    width: 100%;
    height: 50px;
    background: #FD5C63;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer; }

/* Section Review */
.section__reviews {
  padding-right: 50%; }
  .section__reviews_title {
    margin-bottom: 30px; }
  .section__reviews_user {
    display: flex;
    margin-bottom: 23px; }
    .section__reviews_user > .user-photo {
      width: 50px;
      height: 50px;
      background: #C4C4C4;
      border-radius: 50%;
      margin-right: 7%; }
    .section__reviews_user_profile {
      display: flex;
      flex-direction: column; }
      .section__reviews_user_profile_name {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #3D4E61;
        margin: 0; }
      .section__reviews_user_profile_date {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: #3D4E61; }
    .section__reviews_user_review {
      font-size: 16px;
      line-height: 19px;
      color: #3D4E61;
      margin-bottom: 50px; }

/* Host section */
.section__host {
  margin-right: 50%; }
  .section__host-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #3D4E61;
    margin-bottom: 11px; }
  .section__host_under-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #3D4E61; }
  .section__host_about {
    font-size: 16px;
    line-height: 19px;
    color: #3D4E61;
    margin-bottom: 50px; }
  .section__host_button {
    width: 150px;
    height: 50px;
    border: 1px solid #118488;
    box-sizing: border-box;
    border-radius: 4px;
    color: #118488;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 22px; }

.footer > hr {
  box-shadow: 0px -1px 0px #E1E7ED; }
.footer_columns {
  display: flex;
  justify-content: space-between;
  padding: 44px calc(50% - 400px); }
  .footer_columns_column {
    display: flex;
    flex-direction: column; }
    .footer_columns_column_step {
      font-size: 16px;
      line-height: 19px;
      color: #3D4E61;
      display: block;
      margin-bottom: 10px;
      text-decoration: none; }
    .footer_columns_column_title {
      font-size: 16px;
      line-height: 19px;
      color: #3D4E61; }

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir-Book.ttf");
  font-style: normal;
  font-weight: normal; }
@media screen and (max-width: 899px) {
  .section {
    margin-top: 350px;
    padding: 0 25%; }
    .section_booking {
      display: none; }
    .section__reviews {
      padding: 0; }
    .section__host {
      margin: 0; } }
.footer_columns {
  display: flex;
  flex-direction: column;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
